
/*Color Pallete*/
/*https://coolors.co/009688-fcfff7-273043-b74f6f-da2c38*/
*, *:after, *:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body{
	font-family: 'Poppins', sans-serif;
	background-color: #000;
	color: #FFF;
}

@media screen and (min-width: 1024px){

.container {
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	height: 100vh;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-template-areas:
	"textcon  tabs"
	"headline date"
	"social social"
	;
	justify-content: center;
}

/*Grid Positions*/
.portfolio-text {
	grid-area: textcon;
	align-self: start;
}
.pc-tab {
	grid-area: tabs;
}
.headline {
	grid-area: headline;
}
.date {
	grid-area: date;
	text-align: center;
}
.social-media {
	grid-area: social;
	align-self: center;
}


/*TABS*/
.pc-tab {
	height: 100px;
}

.pc-tab > input,
.pc-tab section > div {
	display: none;
}
.pc-tab nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-self: end;
}
.pc-tab nav ul li {
	text-transform: uppercase;
	font-family: Poppins;
	font-style: normal;
	font-weight: 200;
	font-size: 1.2rem;
	padding-right: 12px;
}
#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3{
	display: grid;
	font-weight: 200;
	font-size: .78rem;
}
.tab1 label,
.tab2 label,
.tab3 label{
	opacity: .6;
	transition: opacity .2s;
}

.pc-tab ul li {
	list-style: none;
}

.pc-tab ul li label:hover {
	opacity: 1;
}
.pc-tab section {
	clear: both;
	padding: 12px 0px;
	text-align: right;
}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label,
#tab3:checked ~ nav .tab3 label{
	opacity: 1;
}
/*About Tabs*/
.about-tab {
	width: 90%;
}
.about-tab p{
	line-height: 1.5rem;
	/*letter-spacing: 2px;*/
	font-weight: 200;
	font-size: .88rem;
}

/*Skill Tab*/
.icons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	opacity: .8;

}
.icons i {
	padding: 12px 0;
	width: 80%;
	text-align: left;
	border-bottom: 1px solid #D10117;
	text-transform: uppercase;
	font-weight: 200;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-name: progressBar;
	animation-delay: 0s;
}

.icons i:nth-child(1){
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-name: progressBar;
	animation-delay: 1s;
}
.icons i:nth-child(2){
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-name: progressBar;
	animation-delay: 2s;
}
.icons i:nth-child(3){
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-name: progressBar;
	animation-delay: 3s;
}
.icons i:nth-child(4){
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-name: progressBar;
	animation-delay: 2.5s;
}
.icons i:nth-child(5){
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-name: progressBar;
	animation-delay: 4s;
}
/*Project Tab*/
.project-tab {
	display: grid;
	grid-template-columns: 1fr 1fr;
	z-index: 999;
}
.project-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	padding: 0 24px;
}
.project-text i {
	opacity: .8;
	text-align: left;
}
.project-text button a {
	text-decoration: none;
	color: #FFF;
}
.project-text button {
	padding: 2px 12px;
	margin: 0 4px;
	outline: none;
	width: 124px;
	height: 24px;
	border-style: none;
	background: none;
	border: 1px solid #D10117;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: .58rem;
	opacity: .8;
	transition: .2s;
}
.project-text button:hover {
	background-color: #D10117;
	color: #000;
	cursor: pointer;
}
.project-image img {
	width: 100%;
}

@keyframes progressBar {
	0% {
		width: 30%
	}
	20% {
		width: 40%
	}
	40% {
		width: 50%
	}
	60% {
		width: 60%
	}
	80% {
		width: 70%
	}
	90% {
		width: 75%
	}
	100% {
		width: 30%
	}
}
/***********************/
.portfolio-text {
	line-height: 20px;
}
.portfolio-text h1 {
	font-weight: 300;
	font-size: 1.5rem;
}
.portfolio-text p {
	font-weight: 200;
}

.social-media {
	width: 100%;
	height: 150px;
	bottom: 0;

	background: rgba(0, 32, 47, 0.3);

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.social-media h1 {
	font-weight: 200;
	font-size: .89rem;
	text-transform: uppercase;
	opacity: .8;
}
.social-media p {
	font-weight: 200;
	font-size: .79rem;
	opacity: .8;
}
.date {
	align-self: center;
	text-align: right;
}

.date p{
	font-weight: 200;
	font-size: 3rem;
	opacity: .8;
	text-shadow: 4px 4px 16px #D10117;
}

/*Image*/
.image{
	position: absolute;
	z-index: -1;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.image img {
	width: 480px;
}

/*Headline*/
.headline {
	position: relative;
	line-height: 3rem;
	padding: 12px;
}
.headline h1 {
	font-weight: 200;
	text-transform: capitalize;
	font-size: 2.8rem;
	text-align: left;
}
.headline p {
	padding: 0 4px;
	text-transform: capitalize;
	font-weight: 200;
}
.headline button {
	background: none;
	border-style: none;
	border: 1px solid #D10117;
	border-radius: 2px;
	padding: 5px 48px;
	color: #FFF;
	font-size: .87rem;
	text-transform: uppercase;
	transition: .2s;
	outline: none;
}
.headline button:hover, .headline button a:hover {
	background-color: #D10117;
	color: #000;
	cursor: pointer;
}
.headline a {
	text-decoration: none;
	color: #fff;
	opacity: .8;
	transition: .2s;

}
.headline a:hover{
	color: #D10117;
	cursor: pointer;
}
.headline a i {
	padding: 0 2px;
}

.line {
	position: absolute;
	left: 0;
	height: 150px;
	width: 0;
	border: 1px solid #FFFFFF;
}

/*Contact Form*/
.contact-body {
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact-container {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 80vh;
	background-color: rgba(0,32,47,.3);
	margin: 64px auto;
	border-radius: 12px;
}
.contact-container h1 {
	text-transform: uppercase;
	font-weight: 200;
}
.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.contact-form p {
	text-transform: uppercase;
	font-weight: 200;
	font-size: .68rem;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea{
	width: 100%;
	padding: 12px;
	background: none;
	border-style: none;
	border: 1px solid #D10117;
	margin:12px 0;
	color: #FFF;
	border-radius: 4px;
	transition: .2s;
	opacity: .8;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus{
	width: 110%;
	opacity: 1;
	border-color: #D10117;
	outline: none;
	cursor: pointer;
}
.contact-form button {
	padding: 4px 24px;
	background: none;
	border-style: none;
	border: 1px solid #D10117;
	color: #fff;
	text-transform: uppercase;
	border-radius: 2px;
	transition: .2s;
	opacity: .8;
}
.contact-form button:hover {
	background: #D10117;
}
.contact-form a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 200;
	padding: 12px;
	color: #FFF;
	opacity: .8;
	transition: opacity .2s;
	font-size: .68rem;
}
.contact-form a:hover {
	opacity: 1;
}
/*End*/
}


@media screen and (max-width: 1024px) {
	body{
	font-family: 'Poppins', sans-serif;
	color: #FFF;
	margin: 0;
	padding: 0;
	}
	.container {
	position: relative;
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
	"row__1"
	"row__2"
	"row__3"
	"row__4"
	"row__5"
	"row__6";
	}

	/*Grid Positions*/
	/*row 1*/
	.portfolio-text {
		grid-area: row__1;
		width: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;
		text-align: center;
		opacity: .87;
		font-size: .68rem;
	}
	/*row 2*/
	.image {
		grid-area: row__2;
		width: 100%;
		text-align: center;
	}
	.image img {
		padding: 24px;
		width: 200px;
		border-radius: 50%;
	}

	/*row 3*/
	.headline {
		grid-area: row__3;
		position: relative;
		line-height: 3rem;
		padding: 12px;
		text-align: center;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
	}
	.headline h1 {
		font-weight: 200;
		text-transform: capitalize;
		font-size: 2.8rem;
		text-align: center;
	}
	.headline p {
		padding: 0 4px;
	}
	.headline button {
		background: none;
		border-style: none;
		border: 1px solid #D10117;
		border-radius: 2px;
		padding: 5px 12px;
		color: #FFF;
		font-size: .87rem;
		text-transform: uppercase;
		transition: .2s;
		outline: none;
		width: 50%;
		align-self: center;
	}
	.headline button:hover, .headline button a:hover {
		background-color: #D10117;
		color: #000;
		cursor: pointer;
	}
	.headline a {
		text-decoration: none;
		color: #fff;
		opacity: .8;
		width: 100%;

	}
	.line {
		display: none;
	}

	.date {
		grid-area: row__5;
	}
	/*row 4*/
	.social-media {
	grid-area: row__4;
	width: 100%;
	height: 150px;
	bottom: 0;

	background: rgba(0, 32, 47, 0.3);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
	.social-media h1 {
		font-weight: 200;
		font-size: .89rem;
		text-transform: uppercase;
		opacity: .8;
		text-align: center;
	}
	.social-media p {
		font-weight: 200;
		font-size: .79rem;
		opacity: .8;
	}
	.date {
		align-self: center;
		text-align: center;
		padding: 24px;
	}

	.date p{
		font-weight: 200;
		font-size: 3rem;
		opacity: .8;
		text-shadow: 4px 4px 16px #D10117;
	}

	/*row 6*/
	.pc-tabs {
		grid-area: row__6;
	}
	.pc-tab > input,
	.pc-tab section > div {
		display: none;
	}
	.pc-tab nav ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-self: center;
	}
	.pc-tab nav ul li {
		text-transform: uppercase;
		font-family: Poppins;
		font-style: normal;
		font-weight: 200;
		font-size: 1.2rem;
		padding-right: 12px;
	}
	#tab1:checked ~ section .tab1,
	#tab2:checked ~ section .tab2,
	#tab3:checked ~ section .tab3{
		display: block;
		font-weight: 200;
		font-size: .78rem;
		height: 50vh;
	}
	.tab1 label,
	.tab2 label,
	.tab3 label{
		opacity: .6;
		transition: opacity .2s;
	}

	.pc-tab ul li {
		list-style: none;
	}

	.pc-tab ul li label:hover {
		opacity: 1;
	}
	.pc-tab section {
		clear: both;
		padding: 12px 0px;
		text-align: center;
	}

	#tab1:checked ~ nav .tab1 label,
	#tab2:checked ~ nav .tab2 label,
	#tab3:checked ~ nav .tab3 label{
		opacity: 1;
	}
	/*About*/
	.tab1 p{
		width: 100%;
	}
	.tab1 p {
		font-size: 1.2rem;
		padding: 12px;
	}
	.icons {
	display: flex;
	flex-direction: column;
	opacity: .8;
	justify-content: center;
	align-items: center;

	}
	.icons i {
		width: 80%;
		text-align: left;
		padding: 12px;
		border-bottom: 1px solid #D10117;
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
		animation-name: progressBar;
		animation-delay: 0s;
	}

	.icons i:nth-child(1){
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
		animation-name: progressBar;
		animation-delay: 1s;
	}
	.icons i:nth-child(2){
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
		animation-name: progressBar;
		animation-delay: 2s;
	}
	.icons i:nth-child(3){
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
		animation-name: progressBar;
		animation-delay: 3s;
	}
	.icons i:nth-child(4){
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
		animation-name: progressBar;
		animation-delay: 2.5s;
	}
	.icons i:nth-child(5){
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
		animation-name: progressBar;
		animation-delay: 4s;
	}
	@keyframes progressBar {
		0% {
			width: 30%
		}
		20% {
			width: 40%
		}
		40% {
			width: 50%
		}
		60% {
			width: 60%
		}
		80% {
			width: 70%
		}
		90% {
			width: 80%
		}
		100% {
			width: 30%
		}
	}

	/*Proejct Tab*/
	.project-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
	}
	.project-text i {
		padding: 12px;
		opacity: .8;
	}
	.project-text button a {
		text-decoration: none;
		color: #FFF;
	}
	.project-text button {
		padding: 2px 12px;
		margin: 0 4px;
		border-style: none;
		background: none;
		border: 1px solid #D10117;
		color: #fff;
		text-transform: uppercase;
		opacity: .8;
		transition: .2s;
		margin-top: 12px;
	}
	.project-text button:hover {
		background-color: #D10117;
		color: #000;
		cursor: pointer;
	}
	.project-image img {
		width: 65%;
	}


	/*Form*/
	.contact-body {
	display: flex;
	align-items: center;
	justify-content: center;
	}
	.contact-container {
		display: grid;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 80vh;
		background-color: rgba(0,32,47,.3);
		margin: 64px auto;
		border-radius: 12px;
	}
	.contact-container h1 {
		text-transform: uppercase;
		font-weight: 200;
	}
	.contact-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.contact-form p {
		text-transform: uppercase;
		font-weight: 200;
		font-size: .68rem;
	}
	.contact-form input[type="text"],
	.contact-form input[type="email"],
	.contact-form textarea{
		width: 100%;
		padding: 12px;
		background: none;
		border-style: none;
		border: 1px solid #D10117;
		margin:12px 0;
		color: #FFF;
		border-radius: 4px;
		transition: .2s;
		opacity: .8;
	}
	.contact-form input[type="text"]:focus,
	.contact-form input[type="email"]:focus,
	.contact-form textarea:focus{
		width: 110%;
		opacity: 1;
		border-color: #D10117;
		outline: none;
		cursor: pointer;
	}
	.contact-form button {
		padding: 4px 24px;
		background: none;
		border-style: none;
		border: 1px solid #D10117;
		color: #fff;
		text-transform: uppercase;
		border-radius: 2px;
		transition: .2s;
		opacity: .8;
	}
	.contact-form button:hover {
		background: #D10117;
	}
	.contact-form a {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 200;
		padding: 12px;
		color: #FFF;
		opacity: .8;
		transition: opacity .2s;
		font-size: .68rem;
	}
	.contact-form a:hover {
		opacity: 1;
	}

	

/*End*/
}